# .NET
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
publish/
artifacts/
packages/dotnet/runtimes/
packages/node/bin/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
dist/

# Diagnyx runtime
*.log
*.db
*.db-shm
*.db-wal
diagnyx.config.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
